* {
    box-sizing: border-box;
}

body {
 font-family: "Arial",sans-serif;
    line-height: 24px;
}

div.wrapper2,footer {
    margin:auto;
    width: 1000px;
    background-color:rgb(251,235,235);
    padding: 20px;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
}

section.appel, section.visuals {
    width: 50%;
    float: left;
}

section.visuals {
    text-align: right;
}

img.appel {
    width: 497px;
}

img.visuals {
    width: 447px;
    margin-bottom: 13px;
}

article {
    display: inline-block;
    width: 33%;
    padding-right: 10px;
    vertical-align: top;
}

article:last-child {
    padding-right: 0px;
}
img.article {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 303px;
}

footer, footer a {
    background-color:rgb(166,166,166);
    color: white;
    height:120px;
}